.existing {
    // max-height: 75% !important;
    overflow-y: auto !important;
}
::ng-deep .mat-card-actions {
    display: flex !important;
    align-items: center !important;
    justify-content: end !important;
    padding: 0 !important;
}

::ng-deep .example-card {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}